html, body {
    height: 100%;
    width: 100%;
}

.pagecontainer{
    position: relative;
    min-height: 100vh;
}

.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
    margin: 0px;
    border: 0px;
}

.opts {
    display: flex;
}

.pagecontent{
    margin-top: 10px;
    padding-bottom: 20rem; 
}

.containerL {
   text-align: center;
   position: absolute;
   left: 0%;
   width: 50%;
   padding: 10px;
}

.containerR {
    position: absolute;
    text-align: center;
    right: 0%;
    width: 50%;
    padding: 10px;
 }

.btn {
    background:#95b7ed;
    padding: 13px;
    text-decoration: none;
    color: white;
}

.btn:hover {
    background-color: #4371bb;
  }

th, td {
    border: 1px solid black;
}
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
  }

.option {
    display: inline;
}