html, body {
    height: 100%;
    width: 100%;
    font-family:Arial, Helvetica, sans-serif;
}

.pagecontainer{
    position: relative;
    min-height: 100vh;
}

.opts {
    display:flex;
    justify-content: center;
}

.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
    margin: 0px;
    border: 0px;
}

.pagecontent{
    margin-top: 10px;
    padding-bottom: 20rem;
    text-align: center;
}

.containerL {
   text-align: center;
   position: absolute;
   left: 0%;
   width: 45%;
   padding: 10px;
   background-color: rgba(165, 204, 232, 0.3);
   padding: 15px;
   margin: 10;
   padding-top: 25px;
   padding-bottom: 25px;
}

.containerR {
    position: absolute;
    text-align: center;
    right: 0%;
    width: 45%;
    padding: 10px;
    background-color: rgba(165, 204, 232, 0.3);
    padding: 15px;
    margin: 10;
    padding-top: 25px;
    padding-bottom: 25px;
 }

 .containerRList {
    position: absolute;
    right: 0%;
    width: 45%;
    padding: 10px;
    background-color: rgba(165, 204, 232, 0.3);
    padding: 15px;
    margin: 10;
    padding-top: 25px;
    padding-bottom: 25px;
 }

.btn {
    background:#95b7ed;
    padding: 13px;
    text-decoration: none;
    color: white;
}

form {
    text-align: center;
}
.btn:hover {
    background-color: #4371bb;
  }

th, td {
    border: 1px solid black;
}
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

table {
    margin-left: auto;
    margin-right: auto;
}

#enter {
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
}
