<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title> {% block title %} {% endblock %} </title>
        <meta charset="UTF-8">
    </head>
            
    <body>
        <!-- 
        <div class="header">
            <h1> Genshin Impact Project</h1> 
        </div> 
        -->
        {% block content %} {% endblock %}
        <br />
        {% block output %} {% endblock %}
        <!--
        <div class="footer">
            <h3> Caitlin Chao and Rachael Cheung </h3>
            <h3> Spring 2021 CS 3200 </h3>  
        </div>
        -->
    </body>
</html>
            
            
            