<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <title> {% block title %} {% endblock %} </title>
        <meta charset="UTF-8">
    </head>
            
    <body>
        <div class="page-container">
            <div class="header">
                <img src="{{url_for('static', filename='logo.png')}}" align="middle">
                <h1> Genshin Impact Project!</h1> 
                <div class="opts">
                    {% block logout %} {% endblock %}
                </div>
            </div> 
    
            <div class="pagecontent">
                {% block navbar %} {% endblock %}
                <br />
                {% block content %} {% endblock %}
                <br />
                {% block output %} {% endblock %}
                <br />
                {% block finish %} {% endblock %}
            </div>
        </div>
    </body>
</html>
            
            
            