{% extends "base.html" %}
{% block title %} Enter Your Characters! {% endblock %}
{% block logout %}
<p> <a class="btn" href="{{ url_for('home') }}">Home</a> </p> 
<p> <a class="btn" href="{{ url_for('logout') }}">Logout</a> </p> 
{% endblock %}

{% block navbar %}
<div class = "nav">
<ul>
    <li class="option"> 
        <form action="#" method ="post">
        <input type="hidden" name="button_id" value="add" />
        <input type="submit" value="Add Your Characters" class="amd"/>
        </form>
    </li>
    <li class="option"> 
        <form action="#" method ="post">
        <input type="hidden" name="button_id" value="mod" />
        <input type="submit" value="Modify Your Characters" class="amd"/>
        </form>
    </li>
    <li class="option"> 
        <form action="#" method ="post">
        <input type="hidden" name="button_id" value="del" />
        <input type="submit" value="Delete Your Characters" class="amd"/>
        </form>
    </li>
</ul>
</div>
{% endblock %}

{% block content %}
{% if mode == "add" %}
<form action="#" method ="post">
    <label for="character">Select character name:</label>
    <select name="character">
    <option value="" disabled selected> Select character </option>
    {% for char in characters %}
    <option value="{{char}}"> {{char}} </option>
    {% endfor %}
    </select>
    <br />
    <br />
    <label for="constellationlvl">Enter character constellation level:</label>
    <select name="constellationlvl">
        <option value=1> 1 </option>
        <option value=2> 2 </option>
        <option value=3> 3 </option>
        <option value=4> 4 </option>
        <option value=5> 5 </option>
        <option value=6> 6 </option>
    </select>
    <br />
    <br />
    <label for="talentlvl">Enter character talent level:</label>
    <select name="talentlvl">
        {% for x in range(15) %}
        <option value="{{x+1}}"> {{x+1}} </option>
        {% endfor %}
    </select>
    <br />
    <br />
    <label for="equipped">Enter character's weapon:</label>
    <select name="equipped">
        <option value="" disabled selected> WeaponName, Level </option>
        <option value=-1> None </option>
        {% for row in weaps %}
        <option value="{{ row['weapon_id']}}"> {{ row['weapon_name']}}, {{ row['refinement_lvl']}} </option>
        {% endfor %}
    </select>
    <br /><br />
    <input type="hidden" name="button_id" value="add user character" />
    <input type="submit" value="Add Character" class="sub"/>
</form>
{% elif mode == "mod" and proceed %}
<form action="#" method ="post">
    <label for="weapon">Select character to modify:</label>
    <select name="character">
        {% for row in output %}
        <option value="{{ row['character_name']}}"> {{row['character_name']}} </option>
        {% endfor %}
    </select>
    <br />
    <br />
    <label for="constellationlvl">Enter character constellation level:</label>
    <select name="constellationlvl">
        <option value=1> 1 </option>
        <option value=2> 2 </option>
        <option value=3> 3 </option>
        <option value=4> 4 </option>
        <option value=5> 5 </option>
        <option value=6> 6 </option>
    </select>
    <br />
    <br />
    <label for="talentlvl">Enter character talent level:</label>
    <select name="talentlvl">
        {% for x in range(15) %}
        <option value="{{x+1}}"> {{x+1}} </option>
        {% endfor %}
    </select>
    <br />
    <br />
    <label for="equipped">Enter character's weapon:</label>
    <select name="equipped">
        <option value="" disabled selected> WeaponName, Level </option>
        <option value=-1> None </option>
        {% for row in weaps %}
        <option value="{{ row['weapon_id']}}"> {{ row['weapon_name']}}, {{ row['refinement_lvl']}} </option>
        {% endfor %}
    </select>
    <br /><br />
    <input type="hidden" name="button_id" value="modify user character" />
    <input type="submit" value="Modify Character" class="sub"/>
</form>

{% elif mode == "del" and proceed %}
<form action="#" method ="post">
    <label for="character">Select character to delete:</label>
    <select name="character">
    {% for row in output %}
    <option value="{{ row['character_name']}}"> {{row['character_name']}} </option>
    {% endfor %}
    </select>
    <br /><br />
    <input type="hidden" name="button_id" value="delete user character" />
    <input type="submit" value="Delete Character" class="sub"/>
</form>

{% elif mode == "mod" and not proceed %}
<p> no characters to modify </p>
{% elif mode == "del" and not proceed %}
<p> no characters to delete </p>
{% endif %} 
{% endblock %}

{% block error %}
<p class="err"> {{ err }} </p>
{% endblock %}

{% block output %}
<table class = "output">
    {% if proceed %}
    <tr>
        <th> character_name </th>
        <th> constellation_lvl </th>
        <th> talent_lvl </th>
        <th> equipped_weapon_id </th>
    </tr>
    {% endif %}
{% for row in output %}
    <tr>
    {% for col in row %}
    <td> {{ row[col] }} </td>
    {% endfor %}
    </tr>
{% endfor %}
</table>
{% endblock %}

{% block finish %}
<div class="containerLn">
<h3> go back to weapon data: </h3>
    <p> <a class="btn moveForward" href="{{ url_for('enter_weapons') }}"> return to weapons </a> </p>  
</div>
{% if proceed %}
<div class="containerRn">
    <h3> move on to team data: </h3>
    <p> <a class="btn moveForward" href="{{ url_for('enter_teams') }}"> enter teams </a> </p>
</div>
{% endif %} 
{% endblock %}