{% extends "base.html" %}
{% block title %} View Database Data {% endblock %}

{% block logout %}
<p> <a class="btn" href="{{ url_for('home') }}">Return home</a> </p> 
<p> <a class="btn" href="{{ url_for('logout') }}">Logout</a> </p> 
{% endblock %}

{% block content %}
<form action="#" method ="post">
    <label for="table">Choose a table:</label>
    <select name="table">
        <option value="character_name, element, base_atk, base_hp, rarity, weapon_type, birthday, constellation FROM gs_character">Characters </option>
        <option value="character_name, vision, story_profile FROM gs_character">Character Stories </option>
        <option value="* FROM gs_weapon">Weapons</option>
        <option value="* FROM gs_elemental_resonance">Elemental Resonance</option>
        <option value="* FROM gs_recommended_party">Compatible Characters</option>
    </select>
    <input type="submit" value="Submit"/>
</form>
{% endblock %}

{% block output %}
<table class="dataoutput">
    <tr>
        {% for i in columns %}
        <th> {{ i }}  </th>
        {% endfor %}
    </tr>
{% for row in output %}
    <tr>
    {% for col in row %}
    <td> {{ row[col] }} </td>
    {% endfor %}
    </tr>
{% endfor %}
</table>
{% endblock %}