{% extends "base.html" %}
{% block title %} Enter Your Data! {% endblock %}

{% block logout %}
<p> <a class="btn" href="{{ url_for('home') }}">Home</a> </p> 
<p> <a class="btn" href="{{ url_for('logout') }}">Logout</a> </p> 
{% endblock %}

{% block navbar %}
<div class = "nav">
<ul>
    <li class="option"> 
        <form action="#" method ="post">
        <input type="hidden" name="button_id" value="add" />
        <input type="submit" value="Add Your Weapons" class="amd"/>
        </form>
    </li>
    <li class="option"> 
        <form action="#" method ="post">
        <input type="hidden" name="button_id" value="mod" />
        <input type="submit" value="Modify Your Weapons" class="amd"/>
        </form>
    </li>
    <li class="option"> 
        <form action="#" method ="post">
        <input type="hidden" name="button_id" value="del" />
        <input type="submit" value="Delete Your Weapons" class="amd"/>
        </form>
    </li>
</ul>
</div>
{% endblock %}

{% block content %}
{% if mode == "add" %}
<form action="#" method ="post">
    <label for="weapon">Select weapon name:</label>
    <select name="weapon">
    {% for weap in weapons %}
    <option value="{{weap}}"> {{weap}} </option>
    {% endfor %}
    </select>
    <br /> <br />
    <label for="refinementlvl">Enter weapon refinement:</label>
    <select name="refinementlvl">
        <option value=1> 1 </option>
        <option value=2> 2 </option>
        <option value=3> 3 </option>
        <option value=4> 4 </option>
        <option value=5> 5 </option>
    </select>
    <br /> <br />
    <input type="hidden" name="button_id" value="add user weapon" />
    <input type="submit" value="Add Weapon" class="sub"/>
</form>
{% elif mode == "mod" and proceed %}
<form action="#" method ="post">
    <label for="weapon">Select weapon id to modify:</label>
    <select name="weaponid">
    {% for row in output %}
    <option value="{{ row['weapon_id']}}"> {{ row['weapon_id']}} </option>
    {% endfor %}
    </select>
    <br /><br />
    <label for="weapon">Select weapon name:</label>
    <select name="weapon">
    {% for weap in weapons %}
    <option value="{{weap}}"> {{weap}} </option>
    {% endfor %}
    </select>
    <br /><br />
    <label for="refinementlvl">Enter weapon refinement:</label>
    <select name="refinementlvl">
        <option value=1> 1 </option>
        <option value=2> 2 </option>
        <option value=3> 3 </option>
        <option value=4> 4 </option>
        <option value=5> 5 </option>
    </select>
    <br /><br />
    <input type="hidden" name="button_id" value="modify user weapon" />
    <input type="submit" value="Modify Weapon" class="sub"/>
</form>
{% elif mode == "del" and proceed %}
<form action="#" method ="post">
    <label for="weapon">Select weapon id to delete:</label>
    <select name="weaponid">
    {% for row in output %}
    <option value="{{ row['weapon_id']}}"> {{ row['weapon_id']}} </option>
    {% endfor %}
    </select>
    <br /><br />
    <input type="hidden" name="button_id" value="delete user weapon" />
    <input type="submit" value="Delete Weapon" class="sub"/>
</form>
{% elif mode == "mod" and not proceed %}
<p> no weapons to modify </p>
{% elif mode == "del" and not proceed %}
<p> no weapons to delete </p>
{% endif %} 
{% endblock %}

{% block output %}
<table class = "output">
    {% if proceed %}
    <tr>
        <th> id </th>
        <th> weapon_name </th>
        <th> refinement_lvl</th>
        <th> weapon_type </th>
    </tr>
    {% endif %}
{% for row in output %}
    <tr>
    {% for col in row %}
    <td> {{ row[col] }} </td>
    {% endfor %}
    </tr>
{% endfor %}
</table>
{% endblock %}

{% block finish %}
{% if proceed %}
    <h3> move on to character data: </h3>
    <p> <a class="btn" href="{{ url_for('enter_characters') }}"> Click here </a> </p>  
{% endif %} 
{% endblock %}